table.table--grid {
    border-spacing: 0;
}

table.table--grid th, table.table--grid td {
    box-sizing: border-box;
    text-align: center;
    width: 32px;
    height: 32px;
}

table.table--grid td {
    border: 0;
    padding: 0;
}

.wall-img {
    background-image: url("wall-32x32.jpg");
    background-repeat: no-repeat;
}

.zombie-img {
    background-image: url("zombie-32x32.png");
    background-repeat: no-repeat;
}